header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #3366CC; /* Cambia el valor hexadecial al color de tu elección */
    color: #fff;
    height: 48px;

    
  
  }



  
.logo img {
    display: block;
    height: 48px;
    margin-left:69px ;

  }
 .icon{

    position: relative;
    padding-right: 86px;
  
 }

 
 

 

