<div class="footer-container">
  <div class="footer-content">
    <div class="footer-info">
      <div class="grid">
        <div class="col ms-6">
          <div class="content">
            <h3>Nombre Completo sede electrónica</h3>
            <br />
            <h4>Sede principal</h4>
            <br />
            <p>
              Dirección: xxxxx xxxx xxx Departamento y municipio Código Postal:
              xxxxHorario de Atención: Lunes a viernes xx:xx:xx am - xx:xx p.m
              Telefono conmutador: +57(xx) xxx xx xxx Linea gratuita: +57(xx)
              xxx xx xxxLínea anticorrupción: +57(xx) xxx xx xxxLíneaCorreo
              institucional: ministerio@ministerio.goc.colCorreo de
              notificaciones judiciales: judiciales@gov.co
            </p>
            <br />

            <div class="grid">
              <div class="col">
                <i class="pi pi-twitter m-2"></i>
                <a href="">Entidad</a>
              </div>
              <div class="col">
                <i class="pi pi-instagram m-2"></i> <a href="">Entidad</a>
              </div>
              <div class="col">
                <i class="pi pi-facebook m-2"></i> <a href="">Entidad</a>
              </div>
            </div>
            <br />
            <br />
            <a href="">Directorio institucional</a>
          </div>
        </div>
        <div class="col">
          <div class="imagen">
              <img  class="img" src="../../../assets/logo_MinTIC.png" alt="imagen">
          </div>
    
        </div>
      </div>

      <div class="options">
        <div><a href="">Politicas</a></div>
        <div><a href="">Mapa de sitio</a></div>
        <div><a href="">Terminos y condiciones</a></div>
        <div><a href="">Accesilidad</a></div>
      </div>
    </div>
  </div>

  <div class="footer-footer">
    <div>
      <img class="logo" src="../../../assets/logo_co.png" alt="CO" />
      <img class="logo" src="../../../assets/logo_footer.png" alt="GOV.VC" />
    </div>
  </div>
</div>
